* {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    color: #FFEDE2;
}

/*font-størrelser--------------------------------------*/
h1 {
    font-size: 8rem;
}
h2 {
    font-size: 4rem;
    margin: 3rem 0 3rem 0;
    letter-spacing: 3px;
}
p, li, a {
    font-size: 1.6rem;
    font-family: "Akshar", sans-serif;
}
body {
    background-color: #1D1D1B;
}

/*main-----------------------------------------------*/
main {
    padding: 2rem;
}

/*header--------------------------------------------*/
header {
    background-color: #1D1D1B;
    padding: 2rem;
    max-height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
header > div {
    display:flex;
    gap: 2rem;
}
.logo {
    max-width: 15rem;
}
i {
    font-size: 3rem;
    color: white;
}


/*footer------------------------------------------*/
footer {
    padding: 2rem;
}
footer li {
    list-style-type: none;
}
footer ul {
    padding: 0;
}
hr {
    border:#FFEDE2 solid 3px;
    border-radius: 5px;
    margin-bottom: 3rem;
}
.so_me {
    display: flex;
    gap: 2rem;
}